[Unit]
Description=ccbunshin provider1 proxy
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ccbunshin-proxy
EnvironmentFile=/etc/ccbunshin/provider1.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
